.button {
   height: 2.5rem;
   font-size: 1rem;
   border: 1px solid var(--primary-color);
   border-radius: 10px;
   outline: none;
   padding: 0.4rem 0.8rem;
   color: var(--text-color);
   background-color: var(--primary-color);
   text-transform: uppercase;
   cursor: pointer;
}

.button_transparent {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   font-size: 1rem;
   padding: 0;
}

.button.button_transparent {
   background-color: transparent;
}

.button.button_active {
   background-color: transparent;
   color: var(--secondary-color);
   text-decoration: underline;
}

.button:disabled {
   pointer-events: none;
   background-color: red;
}

.button:hover,
.button:focus-visible {
   border-color: var(--secondary-color);
   background-color: var(--secondary-color);
}

.button_transparent:hover,
.button_transparent:focus-visible {
   border-color: var(--secondary-color);
}



@media (width <= 575.98px) {
   .button_transparent {
      width: 40px;
      height: 40px;
      font-size: 1rem;
   }
}

@media (width <= 479.98px) {
   .button_transparent {
      width: 32px;
      height: 32px;
      font-size: 0.8rem;
   }
}