.button,
.button_transparent {
   height: 2.5rem;
   font-size: 1rem;
   border: 1px solid var(--primary-color);
   border-radius: 10px;
   outline: none;
   padding: 0.4rem 0.8rem;
   color: var(--text-color);
   background-color: var(--primary-color);
   text-transform: uppercase;
   cursor: pointer;
}

.button.button_transparent {
   background-color: transparent;
}

.button.button_active {
   background-color: transparent;
   color: var(--secondary-color);
   text-decoration: underline;
}

.button:disabled {
   pointer-events: none;
   background-color: red;
}

.button:hover,
.button:focus{
   border-color: var(--secondary-color);
   background-color: var(--secondary-color);
}

.button_transparent:hover,
.button_transparent:focus {
   border-color: var(--secondary-color);
}