.search {
   padding: 20px;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
}

.search__form{
   width: 100%;
   min-width: 300px;
   max-width: 600px;
   display: flex;
   align-self: center;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.search__form-item {
   width: 100%;
   display: flex;
   flex-direction: row;
   gap: 20px;
}
