.pagination {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.pagination__main {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   gap: 30px;
   padding-top: 30px;
}

.pagination__buttons {
   display: flex;
   align-self: center;
   gap: 15px;
}