.home {
   background-color: var(--background-secondary-color);
   padding: 20px;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
}

.home__search-block {
   min-width: 30rem;
   width: 50%;
   max-width: 600px;
   display: flex;
   align-self: center;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.home__search {
   width: 100%;
   display: flex;
   flex-direction: row;
   gap: 20px;
}

.home__search-checkboxes {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items:center;
   gap: 15px;
   flex-wrap: wrap;
}

.home__movie-list {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   gap: 30px;
   padding-top: 30px;
}