.movie-list {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   gap: 30px;
   padding-top: 30px;
}

.movie-list__content {
   width: 100%;
   display: grid;
   grid-auto-flow: row;
   grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
   justify-content: space-between;
   column-gap: 20px;
   row-gap: 20px;
   padding-top: 30px;
}

@media (width <= 767.98px) {
   .movie-list__content {
      grid-template-columns: repeat(2, minmax(100px, 250px));
   }
}

@media (576px <= width <= 991.98px) {
   .movie-list__content {
      justify-content: space-evenly;
   }
}
