.label,
.label-checked {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
   cursor: pointer;
   padding: 5px;
   font-size: 1rem;
   line-height: 1.2rem;
}

.checkbox {
   opacity: 0;
}

.label::before,
.label-checked::before {
   content: '';
   position: absolute;
   left: 2px;
   top: 6px;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background-color: var(--background-secondary-color);
   border: 1px solid var(--primary-color);
   cursor: pointer;
}

.label::before {
   
}

.label-checked::after {
   content: '';
   position: absolute;
   left: 5px;
   top: 9px;
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: var(--primary-color);
};